<%= render "shared/header" %>

<%# 商品登録フォーム %>
<%= form_with model: @plan_tag, url: plans_path, method: :post, local: true do |f| %>
  かて<%= f.text_area :category %>
  <div class="tag-field">
  タグ<%= f.text_field :tag_name %>
  <div id="search-result"></div>
  item<%= f.text_area :item %>
  <%= f.date_select :start_time %>
  おす<%= f.submit %>
<% end %>

<% @plans.each do |plan| %>
  <%# <%= link_to plan.item, edit_plan_path(plan.id) %> 
  <%= @plan.tags&.first&.tag_name %>
<% end %>





<%# カレンダー表示 %>
<%= month_calendar do |date| %>
  <%= date.day %>
<% end %>


<h5><%= link_to '検索', searchtag_plans_path %></h5>
<%= search_form_for @q, url: searchtag_plans_path, html: {id: "detailed-search-form"} do |f| %>
  <div class="search-field">
    <%= f.text_field :item_cont, placeholder: '商品名' %>
  </div>
  
  <%= f.submit '検索' %>
<% end %>

<%= render "shared/footer" %>