<%= render "shared/header" %>

<% unless user_signed_in? %>
  <div class = "signed-out-ver">
    <%= month_calendar do |date| %>
      <%= date.day %>
    <% end %>
  </div>
<% else %>

  <%# 検索フォーム %>
  <%# <form> %>
  <div class = "main-full">
   <%= search_form_for @q, url: plans_path, html: {id: "detailed-search-form"} do |f| %>
    <div class="search-field">
     <%= f.text_field :item_cont, placeholder: '詳細で検索', class: "search-text", id: "search-text" %>
     <%= f.submit '検索', id: "submit" %>
    </div>
   <% end %>



  
    <div class = "search-main">
     <% @categories.each do |category| %>
      <div class = "form-check">
        <input class = "form-check-input" type = "radio" name = "maker" value = "category_name">
        <label class = "form-check-label"><%= category.category_name %></label>
      </div>
      <% category.tags.uniq.each do |tag| %>
        <div id = "tagList">
          <div class = "form-check">
            <input class = "form-check-input" type = "checkbox" value = "tag_name" checked>
            <label class = "form-check-label"><%= tag.tag_name %></label>
          </div>
        </div>
      <% end %>
     <% end %>
     <label><input type="checkbox" id="check" onclick="checkdiv(this,'checkBox')" /><%= tag.tag_name %></label>
     <div id="checkBox" style="display:none;">表示！</div>
    </div>
  <%# </form> %>


<%# カレンダー %>
    <div class = "calendar-main">
      <%= month_calendar events: @plans do |date, plans| %>
        <%= date.day %>

        <% plans.each do |plan| %>
         <%= link_to plan.item, plans_path %>
        <% end %>
      <% end %>
    </div>
  </div>





<%# <label><input class = "checkbox" type = "checkbox" name = "tag-chack" value = "1" checked>1</label> %>



<% @tags.each do |tag| %>
  <%# <%= link_to plan.item, edit_plan_path(plan.id)  %>
  <%# <%= @plan.tags&.first&.tag_name %> %>
  <%= tag.tag_name %>
<% end %>





  <div class = "search-render" id = "search-render">
  <%= render "search" %>
  </div>
<% end %>
<%= render "shared/footer" %>
