<%= render "shared/header" %>

<%# 商品登録フォーム %>
<% unless user_signed_in? %>
  <div class = "signed-out-ver">
    <%= month_calendar do |date| %>
      <%= date.day %>
    <% end %>
  </div>
<% else %>
  <div class = "main-full">
    <div class = "search-main">
      <%= form_with model: @plan_tag, url: plans_path, method: :post, local: true do |f| %>
        <div class = "register-text">
          カテゴリー
        </div>
        <%= f.text_field :category_name, class: "field-text", placeholder: "日用品" %>
        <div class = "register-text">
          タグ
        </div>
        <%= f.text_field :tag_name, class: "field-text", placeholder: "シャンプー" %>
        <div id="search-result">
        </div>
        <div class = "register-text">
          アイテム
        </div>
        <%= f.text_field :item, class: "field-text", placeholder: "パンテーン" %>
        <div class = "register-day">
          <%= f.date_select :start_time %>
          <%= f.submit value: " 登 録 " %>
        </div>
      <% end %>
    </div>
    <div class = "calendar-main">
      <%= month_calendar events: @plans do |date, plans| %>
        <%= date.day %>

        <% plans.each do |plan| %>
         <%= link_to plan.item, plans_path %>
        <% end %>
      <% end %>
    </div>
  </div>
  <%# /商品登録フォーム %>

  <%# 検索フォーム %>
  <%# <form> %>
    <% @categories.each do |category| %>
      <div class = "form-check">
        <input class = "form-check-input" type = "radio" name = "maker'+ input'" value = "category_name">
        <label class = "form-check-label"><%= category.category_name %></label>
      </div>
      <% category.tags.uniq.each do |tag| %>
        <div id = "tagList">
          <div class = "form-check">
            <input class = "form-check-input" type = "checkbox" value = "tag_name" checked>
            <label class = "form-check-label"><%= tag.tag_name %></label>
          </div>
        </div>
      <% end %>
    <% end %>
  <%# </form> %>

<label><input type="checkbox" id="check" onclick="checkdiv(this,'checkBox')" /><%= tag.tag_name %></label>
<div id="checkBox" style="display:none;">表示！</div>



<%# <label><input class = "checkbox" type = "checkbox" name = "tag-chack" value = "1" checked>1</label> %>



<% @tags.each do |tag| %>
  <%# <%= link_to plan.item, edit_plan_path(plan.id)  %>
  <%# <%= @plan.tags&.first&.tag_name %> %>
  <%= tag.tag_name %>
<% end %>





<h5><%= link_to '検索', searchtag_plans_path %></h5>
<%= search_form_for @q, url: searchtag_plans_path, html: {id: "detailed-search-form"} do |f| %>
  <div class="search-field">
    <%= f.label :item_cont, placeholder: '商品名' %>
  </div>
  
  <%= f.submit '検索' %>
<% end %>

<% end %>
<%= render "shared/footer" %>