<%= render "shared/header" %>

<%# 商品登録フォーム %>
<% unless user_signed_in? %>
  <div class = "signed-out-ver">
    <%= month_calendar do |date| %>
      <%= date.day %>
    <% end %>
  </div>
<% else %>
  <div class = "main-full">
    <div class = "search-main">
      <%= form_with model: @plan_tag, url: plans_path, method: :post, local: true do |f| %>
        <div class = "register-text">
          カテゴリー
        </div>
        <%= f.text_field :category, class: "field-text", placeholder: "日用品" %>
        <div class = "register-text">
          タグ
        </div>
        <%= f.text_field :tag_name, class: "field-text", placeholder: "シャンプー" %>
        <div id="search-result">
        </div>
        <div class = "register-text">
          アイテム
        </div>
        <%= f.text_field :item, class: "field-text", placeholder: "パンテーン" %>
        <div class = "register-day">
          <%= f.date_select :start_time %>
          <%= f.submit value: " 登 録 " %>
        </div>
      <% end %>
    </div>
    <div class = "calendar-main">
      <%= month_calendar do |date| %>
        <%= date.day %>
      <% end %>
    </div>
  </div>




<% @plans.each do |plan| %>
  <%# <%= link_to plan.item, edit_plan_path(plan.id) %> 
  <%= @plan.tags&.first&.tag_name %>
<% end %>





<h5><%= link_to '検索', searchtag_plans_path %></h5>
<%= search_form_for @q, url: searchtag_plans_path, html: {id: "detailed-search-form"} do |f| %>
  <div class="search-field">
    <%= f.text_field :item_cont, placeholder: '商品名' %>
  </div>
  
  <%= f.submit '検索' %>
<% end %>

<% end %>
<%= render "shared/footer" %>